.hero__section {
    position: relative;

    &__img {
        width: 100%;
        aspect-ratio: 1.4;
        object-fit: cover;
        filter: grayscale(100%);
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 25%;

        &__rectangle {
            border: #979897 solid 2px;
            border-radius: 5px;
            padding: 2%;
            width: fit-content;
            color: #3c3c3c;
            font-weight: bolder;
            -webkit-text-stroke: #979897 0.4px;
        }

        &__button {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            gap: 2rem;
            height: 3rem;

            & button {
                border-radius: 5px;
                color: white;
                font-weight: bold;
            }

            &__history {
                background-color: hsla(0, 0%, 0%, 0);
                height: 3rem;
                width: 100%;
                border: white solid 2px
            }

            &__buy {
                display: flex;
                border: none;
                background-color: #979897;
                align-items: center;
                height: 100%;
                padding: 0 8%;
                gap: 1rem;

                & img {
                    height: 60%;
                }
            }
        }

        &__bold__title {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 3rem;
        }
    }

    &__content__bold__title {
        font-weight: bold;
    }

}