@use "../abstracts" as *;

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.bar__nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    height: 5rem;
    background-color: #121110;
    align-items: center;

    @include small {
        justify-content: space-between;
        padding: 0 10%;
    }

    &>p {
        font-weight: bold;
    }

    & * {
        color: #979897;
        text-decoration: none;
        letter-spacing: 0.1vw;
    }

    & span {
        color: white;
    }

    &__links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;

        @include small {
            display: none;
        }
    }

    &__icons {
        display: flex;
        height: 100%;
        gap: 2rem;
        align-items: center;

        & a {
            display: flex;
            align-items: center;
            height: 100%;
        }

        & img {
            height: 60%;

        }
    }
}