@use "../abstracts" as *;

.bar__nav {
    display: flex;
    justify-content: space-evenly   ;
    padding: 1%;
    height: 5rem;
    background-color: #121110;
    align-items: center;
    
    &>p {
        font-weight: bold;

    }

    & * {
        color: #979897;
        text-decoration: none;
    }

    & span {
        color: white;
    }

    &__links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;

    }

    &__icons {
        display: flex;
        height: 100%;
        gap: 2rem;
        align-items: center;

        & a {
            display: flex;
            align-items: center;
            height: 100%;
        }

        & img {
            height: 60%;

        }
    }
}
