.nouveaute__section {
    width: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        padding: 5%;
        width: 70%;
        justify-content: space-evenly
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        &__cardContainer {
            width: 100%;

            &__card {
                width: 30%;

                &__img {
                    width: 50%;

                    & img {
                        width: 100%;
                    }
                }
            }
        }
    }
}